<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Flashcard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

    </head>
    <body>
        <header>
           <h1> Flashcard App </h1>
           {%include "cards/navigation.html"%}
        </header>
        <main>
            {%block content%}
            <h2>Welcome to your flashcards app!</h2>
            {%endblock content%}
        </main>
        <script src="" async defer></script>
    </body>
</html>